@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
body{
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}
 
h1{
    font-size: 100px;
    font-weight: 900;
    margin: 0;
    font-family: Inter, sans-serif;
}
h1::after{
    content: ".";
    color: red;
}
 